{% for each in sites_status %}
{
    "text": "SD-WAN site status report",
    "blocks": [
        {
            "type": "section",
            "text": {
                "type": "mrkdwn",
                "text": "SD-WAN site status report:"
            }
        },
        {
            "type": "section",
            "block_id": "site_name",
            "text": {
                "type": "mrkdwn",
                "text": "Site's name: {{ each.name }}"
            }
        },
        {
            "type": "section",
            "block_id": "location",
            "text": {
                "type": "mrkdwn",
                "text": "Location: {{ each.location }}"
            }
        },
        {
            "type": "section",
            "block_id": "management_state",
            "text": {
                "type": "mrkdwn",
                "text": "Management State: {{ each.management_state }}"
            }
        },
        {
            "type": "section",
            "block_id": "device_serial_number",
            "text": {
                "type": "mrkdwn",
                "text": "Serial Number: {{ each.device_serial_number }}"
            }
        },
        {
            "type": "section",
            "block_id": "state",
            "text": {
                "type": "mrkdwn",
                "text": "Management State: {{ each.state }} :white_check_mark:"
            }
        }
    ]
}
{% endfor %}
