{% for each in sites_status %}
{
    "text": "SD-WAN site status report",
    "blocks": [
        {
            "type": "section",
            "text": {
                "type": "mrkdwn",
                "text": "SD-WAN site status report:"
            }
        },
        {
            "type": "section",
            "block_id": "site_name",
            "text": {
                "type": "mrkdwn",
                "text": "Site's name: {{ each.name }}\nLocation: {{ each.location }}\nManagement State: {{ each.management_state }}\nSerial Number: {{ each.device_serial_number }}\nManagement State: {{ each.state }} :white_check_mark:"
            },
            "accessory": {
                "type": "image",
                "image_url": "https://raw.githubusercontent.com/packetferret/CSO-Ansible-Netbox/master/images/juniper_burst_icon.png",
                "alt_text": "Juniper SD-WAN"
            }
        }
    ]
}
{% endfor %}
