{
    "blocks": [
		{
			"type": "header",
			"text": {
				"type": "plain_text",
				"text": ":signal_strength:  New SD-WAN created  :signal_strength:"
			}
		},
		{
			"type": "context",
			"elements": [
				{
					"text": "*Network Operations Bot* :robot_face:  |  Network change",
					"type": "mrkdwn"
				}
			]
		},
		{
			"type": "divider"
		},
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": " :paperclip: *Site Details*"
			}
		},
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "*Site Name*: <https://contrail-juniper.net/site/site_management|{{ cleaned_site_name }}>\n:white_small_square: *Street Address*: `{{ site_data.street_address }}`\n:white_small_square: *City, State*: `{{ site_data.city }}, {{ site_data.state }}`\n:white_small_square: *Country*: `{{ site_data.country }}`\n"
			},
			"accessory": {
				"type": "image",
                "image_url": "https://raw.githubusercontent.com/packetferret/CSO-Ansible-Netbox/master/images/juniper_burst_icon.png",
				"alt_text": "Juniper SD-LAN"
			}
        },
		{
			"type": "divider"
		},
        {
            "type": "section",
            "block_id": "section789",
            "fields": [
                {
                    "type": "mrkdwn",
                    "text": "*Data VRF:*\n :white_small_square: name: `{{ site_prefixes.data.vrf }}`\n :white_small_square: prefix: `{{ device_prefixes.data.address }}`"
                },
                {
                    "type": "mrkdwn",
                    "text": "*Voice VRF:*\n :white_small_square: name: `{{ site_prefixes.voice.vrf }}`\n :white_small_square: prefix: `{{ device_prefixes.voice.address }}`"
                },
                {
                    "type": "mrkdwn",
                    "text": "*IOT VRF:*\n :white_small_square: name: `{{ site_prefixes.iot.vrf }}`\n :white_small_square: prefix: `{{ device_prefixes.iot.address }}`"
                },
                {
                    "type": "mrkdwn",
                    "text": "*PCI VRF:*\n :white_small_square: name: `{{ site_prefixes.pci.vrf }}`\n :white_small_square: prefix: `{{ device_prefixes.pci.address }}`"
                }
            ]
        }
    ]
}