{
    "op": "assign",
    "site_id": "{{ site_id }}",
    "macs": "{{ cleaned_macs }}"
    "no_reassign": false,

    // for cloud-ready switches/gateways
    "disable_auto_config": false

    // for adopted switches
    "managed": true
}
