{
  "rftemplate_id": "{{ mist.rf_template_id }}",
  "latlng": {
    "lat": "{{ mist.lat }}",
    "lng": "{{ mist.long }}"
  },
  "address": "{{ mist.address }}",
  "timezone": "{{ mist.timezone }}",
  "country_code": "{{ mist.country_code }}",
  "name": "{{ site_name }}"
}