{
	"blocks": [
		{
			"type": "header",
			"text": {
				"type": "plain_text",
				"text": ":signal_strength:  New Wireless site and WLAN created  :signal_strength:"
			}
		},
		{
			"type": "context",
			"elements": [
				{
					"text": "*Network Operations Bot* :robot_face:  |  Network change",
					"type": "mrkdwn"
				}
			]
		},
		{
			"type": "divider"
		},
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": " :paperclip: *Site Details*"
			}
		},
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "*Site Name*: <https://manage.mist.com/admin/?org_id={{ mist.orgid }}#!configuration/site/{{ site_id }}|{{ cleaned_site_name }}> \n :white_small_square:  {{ mist.address }}, {{ mist.country_code }}\n*Data SSID:*:\n :white_small_square: name: `{{ cleaned_site_name }}-wlan1`"
			},
			"accessory": {
				"type": "image",
				"image_url": "https://raw.githubusercontent.com/packetferret/CSO-Ansible-Netbox/master/images/mist.png",
				"alt_text": "Juniper Mist"
			}
		},
		{
			"type": "divider"
		}
	]
}