{
  "work_notes": "{{ alerts_link_state }}",
  "active": "true",
  "assigned_to": "Andrew Och",
  "business_service": "Retail",
  "impact": "1",
  "urgency": "2",
  "short_description": "BP-Site1 has detected a link state failover event",
  "description": "BP-Site1 has detected a link state failover event"
}